{% assign current_page = 'bookings' %}
{% include head.html %}
{% include nav.html %}
<div id="bookings">
  <div class="cover-image lg:mb-24" style="background-image: url({{page.main_img}});">
    <div class="container mx-auto px-4 ">
      <div>
        <svg id="Chevrons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" class="img-svg">
          <defs>
            <filter id="f1" x="0" y="0" width="200%" height="200%">
              <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
              <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
              <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
            </filter>
          </defs>
          <path class="chevron" id='TopChevron' d="M52,4.2L28,23.7c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,4.2c-0.3-0.2-0.4-0.7-0.1-1
  C3,3,3.2,2.9,3.5,2.9H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6L45.5,3c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,3.7,52.2,4,52,4.2z" />
          <path class="chevron" id='MiddleChevron' d="M52,31.8L28,51.3c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,31.8c-0.3-0.2-0.4-0.7-0.1-1
  c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,31.3,52.2,31.6,52,31.8z" />
          <path class="chevron" id='BottomChevron' d="M52,59.5L28,79c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,59.5c-0.3-0.2-0.4-0.7-0.1-1
  c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,59,52.2,59.3,52,59.5z" />
        </svg>
      </div>
    </div>
  </div>
  <div class="container mx-auto main-content px-4 lg:pt-0 lg:p-24 pt-12 pt-0">
   
    <div class="xl:flex flex-stretch lg:pt-16 columns ">
      <div class="xl:w-1/2 xl:mr-4">
        <img class="img-radius booking-img object-cover" src="{{page.second_photo}}" alt="Conservatory wide">
      </div>
      <div class="xl:w-1/2 mr-4 flex flex-col justify-between pt-12 xl:pt-4">
        <div class="border-class mb-2">
          <h3 class="events-title pb-8">{{page.title}}</h3>
          <h2 class="omnia-green pb-2 uppercase reveal-right small-title">{{page.second_title}}</h2>
        </div>
        <p class="omnia-green pb-4 pt-4">{{page.first_text}}</p>
        <p class="omnia-green pb-4">{{page.second_text}}</p>
        <p class="pb-8 omnia-green">If you are visiting us as a party of seven or more, please get in touch with our reservations team at <a href="mailto:info@omniabistro.com.au">info@omniabistro.com.au </a>
          or <br> <a href="tel:(03) 8080 8080">(03) 8080 8080 </a> between 9am and 5pm, Tuesday to Saturday.</a></p>
        <div class="flex items-end justify-end pb-12 xl:pb-1">
          <a href="mailto:info@omniabistro.com.au"
            class="make-booking-btn custom-beige-dark custom-bg-brown py-2 px-8 uppercase cursor-pointer hidden sm:block pointer-events-auto">
            Email us
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}