{% assign current_page = 'events' %}
{% include head.html %}
{% include nav.html %}
<div id="events">
  <div class="cover-image" style="background-image: url({{page.main_img}});">
    <div class="container mx-auto px-4">
      <div>
        <svg id="Chevrons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" class="img-svg">
          <defs>
            <filter id="f1" x="0" y="0" width="200%" height="200%">
              <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
              <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
              <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
            </filter>
          </defs>
          <path class="chevron" id='TopChevron' d="M52,4.2L28,23.7c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,4.2c-0.3-0.2-0.4-0.7-0.1-1
  C3,3,3.2,2.9,3.5,2.9H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6L45.5,3c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,3.7,52.2,4,52,4.2z" />
          <path class="chevron" id='MiddleChevron' d="M52,31.8L28,51.3c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,31.8c-0.3-0.2-0.4-0.7-0.1-1
  c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,31.3,52.2,31.6,52,31.8z" />
          <path class="chevron" id='BottomChevron' d="M52,59.5L28,79c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,59.5c-0.3-0.2-0.4-0.7-0.1-1
  c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,59,52.2,59.3,52,59.5z" />
        </svg>
      </div>
    </div>
  </div>
  <div class="container mx-auto main-content px-4 md:p-12 md:p-24">
    {% for event in page.events %}
    {% assign index = forloop.index0 | modulo: 2 %}
    <div class="lg:flex justify-between items-center pt-8 lg:pt-16 mb-20 event-item">
      <div class="lg:w-1/2 event-img md:pr-8">
        {% if index == 0 %}
        <img src="{{event.img}}" class="img-radius reveal-left">
        {% else %}
        <img src="{{event.img}}" class="img-radius reveal-right">
        {% endif %}
      </div>
      <div class="pt-8 md:pt-0 omnia-green lg:w-1/2 event-text">
        {% if index == 0 %}
        <div class="reveal-right">
          <h3 class="pb-8 section-title border-class">{{event.title}}</h3>
          <div class="mb-12 omnia-green">{{event.text | markdownify}}</div>
        </div>
        {% else %}
        <div class="reveal-left">
          <h3 class="pb-8 section-title border-class">{{event.title}}</h3>
          <div class="mb-12 omnia-green">{{event.text | markdownify}}</div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</div>

{% include footer.html %}