{% assign current_page = 'food' %}
{% include head.html %}
{% include nav.html %}

<div id="food">
  <div class="cover-image mb-24" style="background-image: url({{page.main_img}});">
    <div class="container mx-auto px-4">
      <div>
        <svg id="Chevrons"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 55 55"
          class="img-svg">
            <defs>
              <filter id="f1" x="0" y="0" width="200%" height="200%">
                <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
                <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
                <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
              </filter>
            </defs>
            <path class="chevron" id='TopChevron' d="M52,4.2L28,23.7c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,4.2c-0.3-0.2-0.4-0.7-0.1-1
            C3,3,3.2,2.9,3.5,2.9H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6L45.5,3c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
            C52.3,3.7,52.2,4,52,4.2z"/>
          <path class="chevron" id='MiddleChevron' d="M52,31.8L28,51.3c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,31.8c-0.3-0.2-0.4-0.7-0.1-1
            c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
            C52.3,31.3,52.2,31.6,52,31.8z"/>
          <path class="chevron" id='BottomChevron' d="M52,59.5L28,79c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,59.5c-0.3-0.2-0.4-0.7-0.1-1
            c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
            C52.3,59,52.2,59.3,52,59.5z"/>
        </svg>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 md:px-0 main-content">
    <!-- F O O D -->
    <div class="flex flex-col lg:flex-row items-start justify-between">
      <div class="w-full lg:w-1/2 food-section-image object-contain">
        <img src="{{page.food_section.img}}" alt="omnia food">
      </div>
      <div class="w-full sm:w-1/2 pt-12 food-section-text text-left">
        <div class="">
        <h3 class="text-center md:text-left pb-2 middle-white-title reveal border-b-2 border-white inline"><!--border-b-2 border-white-->
          {{ page.food_section.title }}
        </h3>
        <h2 class="omnia-green pb-2 uppercase reveal-right small-title pt-6">{{page.food_section.second_title}}</h2>
        </div>
        <p class="mb-12 omnia-green reveal text-base md:text-lg mt-1">
          {{ page.food_section.text }}
        </p>
        <div class="flex items-center sm:items-left sm:justify-start">
          <a class="menu-link omnia-green text-md inline" href="{{ page.food_section.menu_pdf}}" target="_blank">
            {{ page.food_section.menu_btn_text }}
            <div class="line"></div>
          </a>
      </div>
      <div class="flex items-center sm:items-left sm:justify-start mt-6">
        <a class="menu-link omnia-green text-md inline" href="{{ page.food_section.second_menu_pdf}}" target="_blank">
          {{ page.food_section.second_menu_btn_text }}
          <div class="line"></div>
        </a>
    </div>
      </div>
    </div>


    <div id="drink-menu-categories" class="flex flex-col lg:flex-row-reverse items-start justify-between mt-8 md:my-24 mb-8">
      <div class="w-full lg:w-1/2 drink-section-image mb-8 lg:mb-0 flex  reveal lg:ml-8"><!--justify-end-->
        <img src="{{ page.drink_section.img }}" alt="omnia drink" class="">
      </div>
      <div class="w-full lg:w-1/2  pt-12 drink-section-text lg:pr-4">
        <div>
        <h3 class="text-center md:text-left pb-2 middle-white-title reveal border-b-2 border-white inline">
          {{ page.drink_section.title }}
        </h3>
        <h2 class="omnia-green pb-2 uppercase reveal-right small-title pt-6">{{page.drink_section.second_title}}</h2>
        </div>
      
        <div class="mt-8 lg:w-2/3">
          {% for category in page.drink_section.categories %}
          <div class="pt-2 pb-2 md:pt-2 md:pb-2 omnia-green cursor-pointer reveal accordion-drink">
            <div class="inline-block menu-category-block">
              <div class="omnia-green">{{category.text}}</div>
              <a 
              class="inline-block menu-link omnia-green text-md mb-8 mt-8" 
              href="{{ category.menu_pdf }}#page={{forloop.index}}" 
              target="_blank"
            >
              {{ category.menu_btn_text }}
              <div class="line"></div>
            </a>
            </div>
        </div>
        {% endfor %}
      
      </div>
    </div>
  </div>
    
  

</div>
{% include footer.html %}
