{% assign current_page = 'rewards' %}
{% include head.html %}
{% include nav.html %}
<div id="rewards">
  <div class="cover-image mb-12 md:mb-24" style="background-image: url({{page.main_img}});">
    <div class="container mx-auto px-4">
      <h1>
        {{ page.recent_title }}
      </h1>
      <div>
        <svg id="Chevrons"
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 55 55"
class="img-svg">
  <defs>
    <filter id="f1" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>
  </defs>
  <path class="chevron" id='TopChevron' d="M52,4.2L28,23.7c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,4.2c-0.3-0.2-0.4-0.7-0.1-1
		C3,3,3.2,2.9,3.5,2.9H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6L45.5,3c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
		C52.3,3.7,52.2,4,52,4.2z"/>
	<path class="chevron" id='MiddleChevron' d="M52,31.8L28,51.3c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,31.8c-0.3-0.2-0.4-0.7-0.1-1
		c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
		C52.3,31.3,52.2,31.6,52,31.8z"/>
	<path class="chevron" id='BottomChevron' d="M52,59.5L28,79c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,59.5c-0.3-0.2-0.4-0.7-0.1-1
		c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
		C52.3,59,52.2,59.3,52,59.5z"/>
  </svg>
      </div>
    </div>
  </div>

  <div class="container mx-auto main-content p-12 md:p-24">
    <div class="rewards-container">
      <div>
        <h2 class="rewards-title reveal">{{page.title}}</h2>
      </div>
      <!----->
      <div class="flex justify-between flex-wrap mt-8 md:mt-0">
        {% for reward in page.rewards %}
        {% assign index = forloop.index0 | modulo: 2 %}
        <div class="pt-16 mb-20 md:w-1/2 reward-item reveal-delay-{{ index | plus: 1 | times: 3 }}00">
          <div class="">
            <img src="{{reward.img}}" class="img-radius">
          </div>
          <div class="pt-16 olive">
            <!--<p class="reward-date mb-10">{{reward.date}}</p>-->
            <h3 class="author-title reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{reward.name_year}}</h3>
            <h3 class="pb-8 review-title reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{reward.category}}</h3>
            <p class="mb-12 olive reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{reward.to}}</p>
            <button class="olive-btn reveal-delay-{{ index | plus: 1 | times: 3 }}00">Find out more</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <h2 class="about-rewards-title md:w-1/2 mt-20 mb-20 reveal">
      {{page.reviews_title}}
    </h2>
    <div class="flex justify-between flex-wrap mb-20">
      {% for review in page.reviews %}
      {% assign index = forloop.index0 | modulo: 2 %}
      <div class="pt-16 mb-20 md:w-1/2 reward-item reveal-delay-{{ index | plus: 1 | times: 3 }}00">
        <div class="">
          <img src="{{review.img}}" class="img-radius">
        </div>
        <div class="pt-16 olive">
          <!--<p class="reward-date mb-10">{{review.date}}</p>
          <h3 class="author-title">{{review.author}}</h3>-->
          <h3 class="pb-8 review-title reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{review.title}}</h3>
          <p class="mb-12 olive reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{review.text}}</p>
          <button class="olive-btn reveal-delay-{{ index | plus: 1 | times: 3 }}00">Find out more</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}
